html {
	margin: 0;
	background-color: #f2f2f2;
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	flex-direction: column;
	font-family: "PT Sans", "Tahoma", sans-serif;
	text-transform: uppercase;
	justify-content: flex-start;
	position: relative;



}

.main-nav {
	background-color: white;
	display: flex;
	width: 1200px;
}

.site-nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-nav-item {
	margin: 0;
	padding: 0;
	width: 239px;
	height: 56px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 56px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.site-nav a {
	margin: 0;
	padding: 0;
	color: #000000;
	text-decoration: none;
}

.site-nav a:hover {
	color: #81b3d2;
}

.site-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
	z-index: 1;
}

.active-li {
	color: #766357;
	margin-right: -17px;
}

.site-nav-info a {
	width: auto;
	height: auto;
	margin: 14px 0 0 -3px;
}

.site-nav-photo a {
	width: auto;
	height: auto;
	margin: 14px 0 0 5px;
}

.site-nav-map a {
	width: auto;
	height: auto;
	letter-spacing: 0.3px;
	margin: 14px 0 0 2px;
}

.site-nav-hotels a {
	width: auto;
	height: auto;
	letter-spacing: 0px;
	margin: 14px 0 0 17px;
}

.main-nav > a {
	display: block;
	width: 244px;
	height: 56px;
	text-align: center;
}

.greeting {
	margin: 0;
	padding: 0;
	position: relative;
	width: 1200px;
	height: 508px;
	background:
		url("../img/background-photo.png") no-repeat 0px -83px;
}

.greeting .welcome-img {
	position: absolute;
	left: 370px;
	top: 76px;
}

.greeting .polygon-img {
	width: 1203px;
	position: absolute;
	bottom: -1px;
	left: -1px;
	margin: 0;
	padding: 0;
}

.about-sedona {
	padding: 0;
	width: 1200px;
	height: 155px;
	background-color: white;
}

.whats-sedona {
	width: 450px;
	height: 48px;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.24;
	text-align: center;
	color: #000000;
	letter-spacing: px;
	margin: 61px 380px 0px 375px;
}

.take-a-look {
	width: 495px;
	height: 13px;
	margin: 31px 356px 0px 353px;
	font-size: 14px;
	line-height: 1.86;
	text-align: center;
	letter-spacing: 0.1px;
}

.sedona-description {
	margin: 0;
	padding: 0;
}

.sedona-reasons, .argues, .reason-3-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
}

.argue-1 {
	height: 256px;
	display: flex;
	flex-direction: row;
	background-color: #81b3d2;
}

.argue-1-1 {
	width: 280px;
	height: 146px;
	margin: 46px 60px 64px 60px;
	text-align: center;
	color: white;
}

.argue-1-1 .head {
	margin: 0px 0px 0 0;
	margin-top: 4px;
	padding: 0px 60px;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.1px;
}

.argue-1-1 .number {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	margin: 21px 0 0 0;
}

.argue-1-1 .descr {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	margin: 21px 0 0 0px;
}

.reason-1 .argues {
	display: flex;
	flex-direction: row;
}

.argues .whiteback {
	width: 400px;
	height: 330px;
	position: relative;
}

.argues-1 img {
	position: absolute;
	bottom: 198px;
	left: 162px;
}

.argues-1 .head {
	font-size: 21px;
	margin: 160px 0 0 165px;
}

.argues-1 .descr {
	font-size: 14px;
	text-align: center;
	line-height: 1.5;
	padding: 0 48px;
	letter-spacing: 0.1px;
	margin: 21px 0 0 -2px;
}

.argues-2 img {
	position: absolute;
	bottom: 198px;
	left: 163px;
}

.argues-2 .head {
	font-size: 21px;
	margin: 160px 0 0 181px;
}

.argues-2 .descr {
	font-size: 14px;
	text-align: center;
	padding: 0 50px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	margin: 23px 0 0 1px;
}

.argues-3 img {
	position: absolute;
	bottom: 198px;
	left: 168px;
}

.argues-3 .head {
	font-size: 21px;
	margin: 160px 0 0 149px;
}

.argues-3 .descr {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	padding: 0 48px;
	letter-spacing: 0.1px;
	margin: 21px 0 0 1.5px;
}

.argue-2 {
	height: 256px;
	display: flex;
	flex-direction: row-reverse;
	background-color: #81b3d2
}

.argue-2-1 {
	width: 303px;
	height: 142px;
	margin: 45px 49px 65px 48px;
	text-align: center;
	color: white;
}

.argue-2-1 .head {
	margin: 2px 0px 0 2px;
	padding: 0px 10px;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.13px;
}

.argue-2-1 .number {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	margin: 23px 0 0 3px;
}

.argue-2-1 .descr {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	margin: 21px 0 0 0px;
}

.reason-3-list {
	display: flex;
	flex-direction: row;
	background-color: #eeeeee;
	height: 256px;
}

.reason-3-list .reason {
	width: 400px;
	height: 256px;
}

.reason .head {
	font-size: 21px;
	line-height: 1;
	text-align: center;
	padding: 0 140px;
	margin: 48px 2px 0 0;
}

.reason .number {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	margin: 23px 1px 0 0;
}

.reason-3-1 .descr {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	padding: 0 70px;
	letter-spacing: 0.15px;
	margin: 20px 2px 0 0;
}

.reason-3-2 .descr {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	padding: 0 60px;
	letter-spacing: 0.18px;
	margin: 20px 0 0 0px;
}

.reason-3-3 .descr {
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	padding: 0 70px;
	letter-spacing: 0.1px;
	margin: 20px 0 0 1px;
}

.find-hotel {
	height: 830px;
	position: relative;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.interested-in-header {
	margin: 53px 0 0 0px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.15px;
	color: #000000;
}

.interested-in-p {
	margin: 22px 0px 0 0;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 1.71;
	text-align: center;
}

.map {
	margin-top: 135px;
	position: absolute;
}

.find-hotel-form {
	position: relative;
	transition: transform 0.5s ease;
	width: 568px;
	top: 135px;
	left: 316px;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.hidden {
	transform: scale(0);
}

.find-hotel-form fieldset {
	height: 395px;
	width: 568px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: white;
	position: relative;
}

.btn-find {
	border: none;
	font-family: "PT Sans", "Tahoma", sans-serif;
	width: 568px;
	height: 86px;
	background-color: #766357;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 21px;
	line-height: 90px;
	position: absolute;
	top: 152px;
	left: 316px;
}

.critical-btn-find {
	border: none;
	text-decoration: none;
	font-family: "PT Sans", "Tahoma", sans-serif;
	width: 568px;
	height: 86px;
	background-color: #766357;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	font-size: 21px;
	line-height: 90px;
	position: absolute;
	top: 152px;
	left: 316px;
}

.find-hotel .btn-find:hover,
.critical-btn-find:hover {
	background-color: #604e43;
}

.find-hotel .btn-find:active,
.critical-btn-find:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.in-form {
	display: flex;
	flex-direction: column;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.in-form input:hover {
	background-color: #ebebeb;
}

.in-form input:focus {
	background-color: white;
	outline: 2px solid #e5e5e5;
}

.check-in:not(input),
.check-out:not(input) {
	position: relative;
	border: none;
	padding: 0;
	margin: 0 0 0 55px;
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.86;
	letter-spacing: 0.3px;
	text-align: left;
	color: #000000;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.check-in-input,
.check-out-input {
	border: none;
	width: 334px;
	overflow: hidden;
	/* width меньше из-за padding'a */
	height: 38px;
	padding: 0 0 0 12px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans", "Tahoma", sans-serif;
	line-height: 1.86;
	text-align: left;
	color: #000000;
	background-color: #f2f2f2;
}

.check-in-input {
	margin-left: 15px;
}

.check-out input {
	margin-left: 12px;
}

.check-in[for="check-in"] {
	margin-top: 55px;
}

.check-out[for="check-out"] {
	margin-top: 29px;
}

.check-in svg,
.check-out svg {
	position: absolute;
	top: 7px;
	left: 428px;
}

.guests {
	margin: 29px 0 0 0;
	padding: 0;
	display: flex;
	height: 38px;
	justify-content: flex-start;
	align-items: flex-start;
}

.adults label:not(input):not(button),
.children label:not(input):not(button) {
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	color: #000000;
}

.adults, .children {
	display: flex;
}

.adults-input,
.children-input {
	padding: 0;
	align-self: flex-start;
	vertical-align: top;
	border: none;
	background-color: #f2f2f2;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin: 0;
	width: 38px;
	height: 38px;
}

.minus,
.plus {
	padding: 0;
	width: 38px;
	height: 38px;
	border: none;
	background-color: #f2f2f2;
}

.minus svg,
.plus svg {
	stroke: #a9a9a9;
}

.minus:hover svg,
.plus:hover svg {
	stroke: black;
}

.minus:active svg,
.plus:active svg {
	stroke: #81b3d2;
}

.minus:focus,
.plus:focus {
	outline: 2px solid #e5e5e5;
}

.check-in svg,
.check-out svg {
	fill: #a9a9a9;
}

.check-in svg:hover,
.check-out svg:hover {
	fill: black;
}

.check-in svg:active,
.check-out svg:active {
	fill: #81b3d2;
}

.adults-label {
	margin-left: 55px;
}

.minus-adults {
	margin-left: 41px;
}

.children-label {
	margin-left: 53px;
}

.minus-children {
	margin-left: 27px;
}

.minus svg,
.plus svg {
	padding: 0;
	margin: 0;
}

.find-hotel button[type="submit"] {
	padding: 0px;
	width: 458px;
	height: 58px;
	border: none;
	background-color: #81b3d2;
	margin-left: 55px;
	margin-top: 55px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.24;
	text-align: center;
	color: #ffffff;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.find-hotel button[type="submit"]:hover {
	background-color: #669ec0;
}

.find-hotel button[type="submit"]:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.footer {
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 121px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1;
	background-color: white;
}

.contacts-1 {
	margin: 28px 0 0px 123px;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
	color: black;
}

.footer.catalog-footer {
	margin-top: 3px;
}

.footer.catalog-footer .contacts-1 {
	margin-left: 128px;
}

.footer.catalog-footer .contacts-2 {
	margin-left: 174px;
}

.footer.main-footer {
	position: absolute;
	top: 95.7%;
	opacity: 0.9;
	z-index: 100;
}

.footer.main-footer .contacts {
	margin: 0 0 2px 0;
}

.footer a {
	text-decoration: none;
	margin: 0px 0.5px 0.5px 0.5px;
	color: black;
}

.contacts-2 {
	margin: 36px 0 0 177px;
}

#twitter {
	padding: 17px 14px 16px 15px;
	background-color: #81b3d2;
	fill: white;
}

#facebook {
	padding: 13px 17px 13px 17px;
	background-color: #81b3d2;
	fill: white;
}

#youtube {
	padding: 16px 13px 16px 13px;
	background-color: #81b3d2;
	fill: white;
}

.copyright {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	margin: 34px 0 0 229px;
	font-size: 14px;
	line-height: 1.86;
	text-align: center;
}

.copyright a {
	margin: 6px 0px 0 -10px;
}

/* без аттрибута id все нормально работало
 с селекторами по классу, но без id не получалось сделать
 специфичные padding'и */

#twitter:hover,
#facebook:hover,
#youtube:hover {
	background-color: #669ec0;
}

#twitter:active,
#facebook:active,
#youtube:active {
	background-color: #5496bd;
	fill-opacity: 0.3;
}

.copyright svg:hover {
	fill: #81b3d2;
}

.copyright svg:active {
	fill: #bdbbbc;
}

.filter {
	z-index: -100;
}

.filter-on-bck {
	z-index: -100;
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 219px;
	background: url('../img/filter-background.jpg') no-repeat 0px -300px;
	color: white;
}

.catalog {
	display: flex;
	flex-direction: row;

}

.infrastructure-filter {
	display: flex;
	flex-direction: column;
	margin: 28px 0 0 72px;
}

.hotel-type-filter {
	display: flex;
	flex-direction: column;
	margin: 28px 0 0 121px;
}

.input-check {
	display: inline-block;
	vertical-align: center;
	position: relative;
	cursor: pointer;
	height: 23px;
	margin-bottom: 22.5px;
}

.input-check input {
	width: 27px;
	height: 23px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
	cursor: pointer;
	z-index: 10;
	opacity: 0;
}

.input-check label {
	padding-top: 1px;
	font-size: 14px;
	line-height: 23px;
	text-align: left;
	display: block;
	padding-left: 39px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.input-check label:before {
	display: block;
	position: absolute;
	left: 0;
	top: 30%;
	width: 27px;
	height: 23px;
	margin-top: -7px;
	background: url("../img/checkbox-off.svg") no-repeat;
	z-index: 5;
	content: '';
}

.input-check input:checked + label:before {
	background: url(../img/checkbox-on.svg) no-repeat;
}

.input-check input:disabled {
	cursor: default;
}

.input-check input:disabled + label:before {
	background: url(../img/checkbox-dis.svg) no-repeat;
	cursor: default;
}

.input-check input:disabled + label {
	color: #bdbbbc;
	cursor: default;
}

.filter-range {
	width: 316px;
	margin: 28px 0 0 350px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 34px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	margin-top: 6px;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price {
	width: 90px;
	padding-left: 63px;
	margin-top: -2px;
}

.price-controls .max-price {
	width: 90px;
	padding-left: 57px;
	margin-top: -2px;
}

.price-controls-input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 31px 0 0 83px;
	padding: 6px 35px;
	width: 138px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.found {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.24;
	text-align: left;
}

.filter .results {
	display: flex;
	height: 84px;
	justify-content: flex-start;
	align-content: flex-start;
	border-bottom: 1px solid #cacaca;
}

.results svg {
	fill: #cacaca;
}

.results svg:first-of-type {
	margin: 38px 0 0 505px;
}

.results svg:last-of-type {
	margin: 37px 0 0 11px;
}

.results svg:hover {
	fill: black;
	cursor: pointer;
}

.results svg:active {
	fill: #81b3d2;
}

.found {
	margin: 29px 0 0 71.5px;
}

.result-sort {
	height: 8px;
	margin: 34px 0 0 48px;
}

.sort-by {
	margin: 0;
	padding: 0;
	display: flex;
}

.sort-by-link {
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	color: rgba(0, 0, 0, 0.3);
}

.sort-by-price {
	margin: 34px 0 0 40px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
}

.sort-by-type, .sort-by-rating {
	height: 12px;
	margin: 34px 0 0 33px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
}

.sort-by-link:hover {
	color: #81b3d2;
}

.sort-by-link:active {
	color: black;
	border-bottom: none;
}

.sort-by-current {
	color: #81b3d2;
	text-decoration: none;
}

.hotel-list {
	margin: 0px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.hotel-img {
	margin-left: 72px;
	margin-top: 30px;
}

.hotel {
	display: flex;
	height: 149px;
	justify-content: flex-start;
	align-content: flex-start;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 1px;
}

.hotel-info-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	margin-left: 30px;
}

.hotel-name {
	margin: 25px 0 -5px 0;
	line-height: 16px;
	width: auto;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.24;
	letter-spacing: 0.35px;
	text-align: left;
	color: black;
}

.hotel-name:hover {
	color: #71aacc;
	cursor: pointer;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-info-2 {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}

.hotel-type, .hotel-price {
	margin: 0;
	margin-top: 12px;
	margin-right: 7px;
	line-height: 12px;
	width: 110px;
}

.hl-buttons {
	display: flex;
	margin-top: 14px;
	font-family: "PT Sans", "Tahoma", sans-serif;
}

.hl-buttons a {
	display: block;
	width: 110px;
	height: 27px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	background-color: #81b3d2;
	line-height: 27px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.hl-button {
	padding: 0;
	margin: 0;
	width: 142px;
	height: 27px;
	border: none;
	line-height: 27px;
	text-align: center;
	background-color: #766357;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	margin-left: 6px;
	text-transform: uppercase;
}

.hl-buttons a:hover {
	background-color: #669ec0;
}

.hl-buttons a:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	display: flex;
	height: 90px;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	margin-left: 523px;
	margin-top: 29px;
}

.hotel-rating {
	height: 27px;
	width: 110px;
	margin: 49px 0 0 1px;
}

.stars {
	display: flex;
	justify-content: flex-end;
}

.rating img {
	width: 18px;
	height: 17px;
	align-self: flex-end;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	margin-left: 6px;
}

.filter p,
.cost-per-day-filter label {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.31;
	text-align: left;
	margin: 0;
	color: white;
}

.found {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.24;
	text-align: left;
}

.found + h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	text-align: left;
	color: black;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	color: #333333;
}

.hl-buttons button:hover {
	cursor: pointer;
	background-color: #604e43;
}

.hl-buttons button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.hotel-rating {
	background-color: #f0f0f0;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #666666;
}

.visually-hidden {
	display: none;
}

.infrastructure-filter p,
.hotel-type-filter p {
	margin-bottom: 25px;
}

.interactive-map {
	width: 1200px;
	height: 593px;
	border: none;
}